node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

.DS_Store
.cache
.env
.env*.local
.vercel
.output
.vinxi

/build/
/api/
/server/build
/public/build
.vinxi
# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

*.sqlite*

# production
/build
src/generated/db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
